
/*RECIPE CATEGORIES*/
.RcpCategory{width:auto;height: 155px; background-color: white;}
.liSearch{width:100%;}
.RcpList {background-color: white;width:65%;float:left;}
.RcpSearch {background-color: white;height:40px; width:25%;float:left;margin-top: 50px;position:relative;}
.RcpSearch input{font-size: 12px !important;width:325px;padding:10px !important; float:left;}
.RcpSearch button{position:absolute;width:50px; height:auto;font-size:11px; border:0px;outline:none;float:left;}
.boxed				{padding:0 !important;margin:10px !important;display:inline-block;width:1050px;}
.boxed li 			{float:left;width:33.334%;height:90px;font-size:11px;line-height:1.2;font-weight:700;text-transform:uppercase;text-align:center;overflow:hidden;padding:0 !important;border-top:none !important;-webkit-transition: all .2s ease-in;-moz-transition: all .2s ease-in;-o-transition: all .2s ease-in;-ms-transition: all .2s ease-in;transition: all .2s ease-in;}
.boxed li a 			{color:black;float:left;width:100%;height:100%;font-weight:700 !important;-webkit-transition: all .2s ease-in;-moz-transition: all .2s ease-in;-o-transition: all .2s ease-in;-ms-transition: all .2s ease-in;transition: all .2s ease-in;}
.boxed.gold 			{background:none !important;padding:0;}
.boxed .icon 			{-webkit-transition: all .2s ease-in;-moz-transition: all .2s ease-in;-o-transition: all .2s ease-in;-ms-transition: all .2s ease-in;transition: all .2s ease-in;}
.boxed li span 		{display:inline-block;color: black;width:100%;padding:0 9px;vertical-align:sub;}
.boxed li a:hover			{-webkit-box-shadow:inset 0 0 30px rgba(0,0,0,.2);-moz-box-shadow:inset 0 0 30px rgba(0,0,0,.2);box-shadow:inset 0 0 30px rgba(0,0,0,.2);}
.boxed li a:hover .icon 		{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}

.above-sidebar .boxed li {width: auto;margin:0 auto;margin-left: 20px;padding:40px;height: 20%;font-size: 100%;}


/*RECIPE*/
.recipe 			{float:left;max-width:100%;}
.recipe .image 	{float:left;width:100%;-webkit-box-shadow:0 0 1px rgba(0,0,0,.2);-moz-box-shadow:0 0 1px rgba(0,0,0,.2);box-shadow:0 0 1px rgba(0,0,0,.2);}

.recipe .intro 	{width:100%;height:auto;min-height:0;margin:0 0 30px;background:#fff;padding:17px 20px;border:none;-webkit-box-shadow:0 0 1px rgba(0,0,0,.2);-moz-box-shadow:0 0 1px rgba(0,0,0,.2);box-shadow:0 0 1px rgba(0,0,0,.2);}
.recipe .intro p {color:#666;padding:0 0 15px;}

.instructions 		{float:left;width:100%;}
.instructions ol 				{counter-reset: li;list-style: none;*list-style: decimal;padding: 0;margin:0;}
.instructions li				{position: relative;display: block;background: #fff;color: #666;font-size:14px;padding:15px 20px 18px;min-height:50px;margin:0 0 30px 50px;-webkit-box-shadow:0 0 1px rgba(0,0,0,.2);-moz-box-shadow:0 0 1px rgba(0,0,0,.2);box-shadow:0 0 1px rgba(0,0,0,.2);}
.instructions li:before		{content: counter(li);counter-increment: li;position: absolute;	left: -50px;top:0;color:#fff;height:50px;width: 50px;line-height: 50px;text-align: center;font-size:33px;-webkit-text-shadow:0 1px 0 rgba(0,0,0,.15);-moz-text-shadow:0 1px 0 rgba(0,0,0,.15);text-shadow:0 1px 0 rgba(0,0,0,.15);}
.instructions li:after		{position: absolute;	content: '';border: .5em solid transparent;left:0;top: 20px;-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;transition:all 0.2s ease-in;}
.instructions li:hover:after	{left:0;}		
	
dl 			{display:inline-block;width:100%;margin:0 0 22px;}
.recipe dt,
.basic dt 	{float:left;margin:0 0 8px;padding:0 10px;height:35px;font-size:13px;line-height:37px;background:#fff;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);-moz-box-shadow:0 1px 0 rgba(0,0,0,.15);box-shadow:0 1px 0 rgba(0,0,0,.15);}
.recipe dd,
.basic dd 	{float:left;margin:0 0 8px;padding:0 15px;height:35px;font-size:14px;line-height:37px;font-weight:600;background:#FF7B74;color:#fff;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.15);-moz-box-shadow:0 1px 0 rgba(0,0,0,.15);box-shadow:0 1px 0 rgba(0,0,0,.15);}	

.basic dt 		{width:65%;}
.basic dd 		{width:35%;}
.user dt 			{width:50%;font-size:13px;}
.user dd 		{width:50%;}
.user dd a 		{color:#fff;}
.ingredients dt 	{width:35%;font-size:13px;}
.ingredients dd 	{width:65%;}	
	
.nutrition table 	{width:100%;border-spacing:0;border-collapse:collapse;margin:0;}
.nutrition td 	{border:none;border-top:1px solid #ddd;padding:9px 20px;color:#666;background:#fff !important;font-size:13px;}
.nutrition td:last-child {text-align:right;color:#444;}
	
.share .boxed i	{margin:16px 0 9px;font-size:30px;}

.recipe .members {margin-bottom:0 !important;}

/*SUBMIT RECIPE*/
.submit_recipe section 						{padding:0 0 20px;display:inline-block;width:100%;}
.submit_recipe input 							{float:left;}
.f-row .third 						{width:33.33%;float:left;padding-right:20px;position:relative;}
.f-row .third:nth-child(3n)			{padding-right:0;}
.submit_recipe .ingredient > div 				{padding-right:20px;float:left;}
.submit_recipe .large					 	{width:50%;}
.submit_recipe .small					 	{width:11.7%;}
.submit_recipe .remove						{float:none;font-size:37px;padding:0;width:37px;height:37px;line-height:37px;}
.submit_recipe .instruction .full			{width:95%;}
.submit_recipe h2		{padding:0 0 18px;}
.submit_recipe h2 span 	{font-size:13px;font-weight:400;display:inline-block;}

.submit_recipe button,
.submit_recipe .button {width:263px;text-align:center;max-width:100%;}
	
/*SEARCH FOR RECIPES*/
.recipefinder			{width:100%;padding:22px 30px 30px !important;margin:0 0 30px;}
.recipefinder h3			{color:#666;padding:5px 0 25px;font-size:16px;}
.recipefinder .left		{float:left;width:30%;}
.recipefinder .right 	{float:right;width:70%;padding-left:30px;}
.recipefinder .f-row 	{padding:10px 0 0 !important;}
.recipefinder button 		{position:absolute;top:10px;right:0;font-size:37px;padding:0;width:37px;height:37px;line-height:37px;-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.recipefinder input[type="submit"] {float:right;}
.recipefinder .gold 	{margin:0 3px 3px 0;}

.recipefinder .ingredients	{padding:0 0 29px;}
.ingredients .button 		{text-transform:none;}
.recipefinder .search 					{position:relative;}
.recipefinder .search input[type="submit"] {background:none;width:36px;height:36px;position:absolute;top:0;right:15px;padding:0 !important;font-size:0px;z-index:10;}
.recipefinder .search:after			{content: "\f002";font-family: FontAwesome;position:absolute;top:8px;right:25px;}

.recipefinder .dropdown 			{position:relative;float:left;width:270px;border:1px solid #ddd;font-size:13px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:9px 10px;color:#999;}
.recipefinder .dropdown:before 	{content: "\f078";font-family: FontAwesome;position:absolute;top:13px;right:13px;}
.recipefinder .dropdown dt 		{cursor:pointer;}
.recipefinder .dropdown dd		{display:none;padding:9px 0 0;}
.recipefinder .dropdown dd a 			{color:#999;}
.recipefinder .dropdown dd a:hover 	{color:#666;}
