<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
  <mapper namespace="Cmu">
   
   <!-- 글 작성 -->
   <insert id="insert_cmu" parameterType="Cmu">
    INSERT INTO CMU
    ( CMU_CATE,CMU_TITLE,CMU_CONTENT,CMU_REG,USR_ID)
    VALUES
    ( #{CMU_CATE},#{CMU_TITLE},#{CMU_CONTENT},SYSDATE,#{USR_ID});
   </insert>
   
<!--    <select id="get_cmuList" parameterType="com.human.java.CmuVO" resultType="com.human.java.CmuVO">	
	<![CDATA[
		SELECT count(*) FROM CMU
	]]>
	<include refid="VgCmuList"/>
	<![CDATA[			
		ORDER BY CMU_PK DESC
		LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
	]]> 
   </select> -->
   
   <select id="get_cmuList">	
	SELECT count(*) FROM CMU ORDER BY CMU_PK DESC;
   </select>
   
   <!-- 글 목록 불러오기 -->
   <select id="select_list">
   
   </select>
  
  </mapper>