<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mpg">

	<select id="Mpg_login_check" parameterType="String"
		resultType="USR">
		select * from USR where usr_id=#{USR_ID}
	</select>

	<update id="Mpg_resign_user" parameterType="String">
		UPDATE USR
		SET
		USR_OUT = 0
		WHERE
		usr_id =#{USR_ID}

	</update>


   <update id="Mpg_pw_modify" parameterType="USR">
   		UPDATE USR
   		SET
		USR_PW = #{USR_PW}
   		WHERE
		usr_id =#{USR_ID}
   </update>

</mapper>